---
name: Verify

on:
  pull_request:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  homeassistant:
    runs-on: ubuntu-latest
    name: Verify Home Assistant Configuration
    strategy:
      max-parallel: 6
      matrix:
        home-assistant-version:
          - stable
          - beta
          - dev
        site:
          - vie
          - muc

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get install -y libarchive-tools

      - name: Prepare data
        run: |
          mkdir tmp
          cp -rf common/configuration/* tmp/
          cp -rf sites/${{ matrix.site }}/configuration/* tmp/
          ./lifecycle/prepare.sh tmp

      - name: Check Home Assistant Configuration
        uses: frenck/action-home-assistant@941d5d917f4c1c7a7e7d4087526daf90d53f4437 # v1.4.1
        with:
          path: ./tmp
          secrets: .ci/secrets.yaml
          env_file: .ci/env
          version: "${{ matrix.home-assistant-version }}"
