---
name: Verify

on:
  pull_request:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  homeassistant:
    runs-on: ubuntu-latest
    name: Verify Home Assistant Configuration
    strategy:
      max-parallel: 6
      matrix:
        home-assistant-version:
          - stable
          - beta
          - dev
        site:
          - vie
          - muc

    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get install -y libarchive-tools

      - name: Prepare data
        run: |
          mkdir tmp
          cp -rf common/configuration/* tmp/
          cp -rf sites/${{ matrix.site }}/configuration/* tmp/
          ./lifecycle/prepare.sh tmp

      - name: Check Home Assistant Configuration
        uses: frenck/action-home-assistant@941d5d917f4c1c7a7e7d4087526daf90d53f4437 # v1.4.1
        with:
          path: ./tmp
          secrets: .ci/secrets.yaml
          env_file: .ci/env
          version: "${{ matrix.home-assistant-version }}"
